@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

    //  box-shadow: 0 0 0 3px red inset;
 



}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin:0;
  padding: 0;
  background-color: #4538A1;
  color: white;
 



}

// .moadalActive{
//     background-color: rgb(128, 119, 119);
//     z-index: 0;
// }