
    .orders {
        // margin-right: 120px;
        // color: white;


    
       
   
       
     .orders-section {
        // margin-top: -510px;
        // width: 100%;
        // background-color: white;
        // margin-left: 150px;
        // height: 95vh;
        // width: 90%;
        // position: absolute;
        // border-radius: 20px;
        // color: black;


        background-color: white;
        width: 88%;
        height: 95vh;
        border-radius: 50px;
        margin-left: 160px;
        margin-top: -530px;
        position: absolute;
        overflow-y: auto;




       
        

        .order {
          
        
      .order,
      .order-headings {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
        margin-bottom: 20px;
      
        background: #f1eaea;
        padding: 10px 15px;
        border-radius: 5px;
        text-align: center;
        color: black;
      
    
  
  
        // width: 160%;
        padding: 0 20px;
        margin-right: 50px;
      
     
      }
      .order-headings {
        font-weight: 700;
        margin-top: 60px;
        background-color: #b1adad;
     
      
 
       
      }
    }
  
     
      

      }





    }


  