.singleTicket{


    .singleTicket-section{
        background-color: white;
        color: black;
    
        background-color: white;
        margin-top: -530px;
        width: 88%;
        height: 95vh;
        border-radius: 30px;
        margin-left: 150px;
        justify-content: center;
        

        .top{
            
        }
        .center{
            margin-left: 50px;

        }
        .down{

        }
    }
}