.singleTicket {
  .singleTicket-section {
    .edit {
      margin-left: 280px;
      margin-top: 50px;
      position: absolute;
      font-size: large;
      cursor: pointer;
    }

    background-color: rgb(240, 231, 231);
    color: black;

    background-color: white;
    margin-top: -530px;
    width: 88%;
    height: 105vh;
    border-radius: 30px;
    margin-left: 160px;
    // justify-content: center;

    // max-width: 960px;
    // margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    position: relative;
    min-width: 630px;

    .top {
      position: absolute;
      margin-top: 50px;
      margin-left: 250px;

      display: block;
      width: 650px;
      list-style: none;
      // border-bottom: 1px grey solid;
      font-weight: 700;
      text-align: start;
      display: flex;
      padding: 15px;

      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(156, 152, 152, 0.68);
      background: linear-gradient(#fafdff, #cacde6);

      .left {
      }
      .right {
        margin-left: 250px;

        .status {
          background-color: #4538a1;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    .center {
      margin-left: 140px;
      margin-right: 700px;
      margin-top: 70px;
      min-width: 250px;

      .description {
        background-color: rgb(236, 234, 234);
        margin-left: 110px;
        width: 650px;
        margin-top: 188px;
        position: absolute;
        // height: 150px;
        text-align: start;
        padding: 20px;
      


        -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        background: linear-gradient(#fafdff, #cacde6);

        .descriptionInput {
          width: 600px;
          height: 200px;
          outline: none;
          resize: none;
          
        }

        .updateBtn {
          margin-top: 30px;
          margin-left: 560px;

          background-color: #4538a1;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          font-weight: 700;
        }

        .descr {

        
          .username {
            color: grey;
            text-transform: capitalize;

          }
          .plusIcon {
            margin-left:600px;
            font-size: 20px;
            cursor: pointer;
          }

          p {


          }

          .newDescription {
            margin-top: 50px;
            margin-left: -20px;
        

            background-color: rgb(236, 234, 234);
        
            width: 650px;
        
            position: absolute;
            // height: 150px;
            text-align: start;
            padding: 20px;
    
            .new {
              background-color: rgb(236, 234, 234);
              width: 550px;
              height: 50px;

              span {
                color: grey;
              }
    
              p {
                // background-color: rgb(152, 158, 158);
              }
            }
            
          }
    
        }
        }
      }

    
    .down {
      margin-left: 250px;
      // margin-right: 700px;
      margin-top: 350px;
      position: absolute;

      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      background: linear-gradient(#c7cdd1, #cacde6);

      


      h1 {
        margin-right: 450px;
      }

      .closeTicket {
        // background-color: #4538a1;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
        width: 80px;
        cursor: pointer;

        


       
      }

      .closeTicket:hover {
        background-color: #4538a1;
        
     
      }

    

      .addNote {
        // margin-left:-150px;
        // margin-right: 0px;
        padding: 20px;
        cursor: pointer;
      }

      .addNote:hover {
        background-color: #4538a1;
      }

   
      
    }
  }
  //     .modalActive{
  //         background-color: rgb(245, 236, 236);

  //         .edit{

  //             display: none;
  //         }

  //         // background-color: rgb(122, 110, 110);
  //         // color: black;

  //         // background-color: rgb(122, 110, 110);
  //         margin-top: -530px;
  //         width: 88%;
  //         height: 105vh;
  //         border-radius: 30px;
  //         margin-left: 140px;

  //         padding: 0 20px;
  //         text-align: center;
  //         position: relative;
  //         min-width: 630px;

  //         .top{

  //             display: none;

  //         }
  //         .center{

  //             display: none;

  //         }
  //         .down{

  //             display: none;

  //         }
  //         .closeTicket{
  //             display: none;
  //         }
  //     }
}
